<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>catalogo</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}">
    <link rel="icon" th:href="@{img/logo.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{css/styles.css}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary navbar-fixed">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">
            <img th:src="@{img/logo.png}" alt="IsekaiYume" class="navbar-logo">
            IsekaiYume
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-white" href="catalogo">Catalogo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="noticias">Noticias</a>
                </li>
            </ul>

            <!-- Barra de búsqueda -->
            <form class="form-inline">
                <div class="input-group">
                    <button class="btn btn-outline-light" type="submit">Buscar anime</button>
                    <input class="form-control" type="search" placeholder="Buscar" aria-label="Search">
                </div>
            </form>

            <!-- Icono de usuario con estilo de hover y tamaño más grande -->
            <ul class="navbar-nav ml-auto justify-content-end align-items-center lista">

                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/registro}" class="nav-link me-3">
                        <i class="fas fa-user text-white fa-lg user-icon"></i>
                    </a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}" class="nav-link me-3 text-white">
                        Salir
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <h2>Lista completa de animes</h2>
    <div class="btn-group mt-2" role="group" aria-label="Ordenar por letra" id="letra-buttons">
        <!-- Los botones se generarán aquí utilizando JavaScript -->
    </div>
    <button type="button" class="btn btn-secondary">0-9</button>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorías
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                <a class="dropdown-item" href="#">Acción</a>
                <a class="dropdown-item" href="#">Aventura</a>
                <a class="dropdown-item" href="#">Comedia</a>
                <a class="dropdown-item" href="#">Drama</a>
                <a class="dropdown-item" href="#">Fantasía</a>
                <!-- Agrega más categorías según sea necesario -->
            </div>
        </div>
    </div>

    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
            <button id="btnGroupDrop2" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tipos
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                <a class="dropdown-item" href="#">Anime</a>
                <a class="dropdown-item" href="#">OVA</a>
                <a class="dropdown-item" href="#">ONA</a>
                <a class="dropdown-item" href="#">Película</a>
                <!-- Agrega más tipos de anime según sea necesario -->
            </div>
        </div>
    </div>

    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
            <button id="btnGroupDrop3" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Demografía
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                <a class="dropdown-item" href="#">Niños</a>
                <a class="dropdown-item" href="#">Shonen</a>
                <a class="dropdown-item" href="#">Shojo</a>
                <a class="dropdown-item" href="#">Seinen</a>
                <a class="dropdown-item" href="#">Josei</a>
                <!-- Agrega más demografías según sea necesario -->
            </div>
        </div>
    </div>
</div>

<div class="container my-5 mx-auto custom-width">
    <div style="border-bottom: 2px solid blue;"></div>
</div>



<div class="container">
    <div class="row justify-content-center">
        <div th:each="titulo : ${titulos}" class="col-md-2 mb-2">
            <a th:href="@{/listaepisodios/{tituloNombre}(tituloNombre=${titulo.nombreTitulo})}">
                <div class="card bg-secondary h-100">
                    <img th:src="${titulo.imagenUrl}" class="card-img-top" th:alt="${titulo.nombreTitulo}">
                    <div class="card-body text-center">
                        <h4 class="card-title" th:text="${titulo.nombreTitulo}"></h4>
                        <p class="card-text" th:text="${titulo.descripcion}"></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<footer class="footer bg-primary text-white text-center mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Descubre</h4>
                <p>Series populares</p>
                <p>Simulcasts</p>
                <p>Explora</p>
            </div>
            <div class="col-md-4">
                <h4>Soporte</h4>
                <p>Contacto</p>
                <p>Centro de ayuda</p>
                <p>Foros</p>
            </div>
            <div class="col-md-4">
                <h4>Legal</h4>
                <p>Términos de uso</p>
                <p>Política de privacidad</p>
                <p>Política de cookies</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>&copy; 2023 IsekaiYume. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>

<script>
    // Obtén la referencia al elemento div donde se agregarán los botones
    var botonDiv = document.getElementById("letra-buttons");

    // Crea botones de la A a la Z utilizando un bucle
    for (var letra = 65; letra <= 90; letra++) {
        var letraChar = String.fromCharCode(letra);
        var boton = document.createElement("button");
        boton.type = "button";
        boton.className = "btn btn-secondary";
        boton.textContent = letraChar;
        botonDiv.appendChild(boton);
    }
</script>


</body>
</html>