<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>listaepisodios</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" th:href="@{/img/logo.png}" href="/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary navbar-fixed">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">
            <img th:src="@{/img/logo.png}" alt="IsekaiYume" class="navbar-logo">
            IsekaiYume
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/catalogo">Catalogo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/noticias">Noticias</a>
                </li>
            </ul>

            <!-- Barra de búsqueda -->
            <form class="form-inline">
                <div class="input-group">
                    <button class="btn btn-outline-light" type="submit">Buscar anime</button>
                    <input class="form-control" type="search" placeholder="Buscar" aria-label="Search">
                </div>
            </form>

            <!-- Icono de usuario con estilo de hover y tamaño más grande -->
            <ul class="navbar-nav ml-auto justify-content-end align-items-center lista">

                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/registro}" class="nav-link me-3">
                        <i class="fas fa-user text-white fa-lg user-icon"></i>
                    </a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}" class="nav-link me-3 text-white">
                        Salir
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="container my-5 mx-auto custom-width">
    <div style="border-bottom: 2px solid blue;"></div>
</div>
<div class= "container text-center" >
    <h2 th:text="${titulo.nombreTitulo}"></h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Número de Episodio</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="episodio : ${episodios}">
            <td>
                <a th:href="@{/episodio/{id}(id=${episodio.id})}">
                    <span th:text="${episodio.nombreEpisodio}"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer class="footer bg-primary text-white text-center mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Descubre</h4>
                <p>Series populares</p>
                <p>Simulcasts</p>
                <p>Explora</p>
            </div>
            <div class="col-md-4">
                <h4>Soporte</h4>
                <p>Contacto</p>
                <p>Centro de ayuda</p>
                <p>Foros</p>
            </div>
            <div class="col-md-4">
                <h4>Legal</h4>
                <p>Términos de uso</p>
                <p>Política de privacidad</p>
                <p>Política de cookies</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>&copy; 2023 IsekaiYume. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>


</body>
</html>